<h3>Yeni Ürün Ekle (Classic)</h3>
<form #productAddForm="ngForm" (ngSubmit)="add(productAddForm)">
    <div class="mb-3">
        <input type="text" placeholder="Ürün Adı" #name="ngModel"
        [(ngModel)]="model.name" class="form-control" name="name" id="name" required> 
        <div *ngIf="name.invalid && name.dirty" class="alert alert-danger">Ürün ismi boş geçilemez!</div> <!-- dirty, touched, pristine -->
    </div>
    <div class="mb-3">
        <input type="text" placeholder="Ürün Açıklaması" #description="ngModel"
        [(ngModel)]="model.description" class="form-control" name="description" id="description" required> 
        <div *ngIf="description.invalid && description.touched" class="alert alert-danger">Ürün açıklaması boş geçilemez!</div>
    </div>
    <div class="mb-3">
        <input type="text" placeholder="Ürün Resim Yolu (URL)" #imageUrl="ngModel"
        [(ngModel)]="model.imageUrl" class="form-control" name="imageUrl" id="imageUrl" required> 
        <div *ngIf="imageUrl.invalid && imageUrl.dirty" class="alert alert-danger">Ürün açıklaması boş geçilemez!</div>
    </div>
    <div class="mb-3">
        <input type="text" placeholder="Ürün Fiyatı" #price="ngModel"
        [(ngModel)]="model.price" class="form-control" name="price" id="price" required> 
        <div *ngIf="price.invalid && price.touched" class="alert alert-danger">Ürün fiyatı boş geçilemez!</div>
    </div>
    <div class="mb-3">
        <select #categoryId="ngModel" [(ngModel)]="model.categoryId" 
        class="form-control" name="categoryId" id="categoryId" required>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
        <div *ngIf="categoryId.invalid && categoryId.touched" class="alert alert-danger">Ürün kategorisi seçilmelidir!</div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="productAddForm.invalid">+ ÜRÜN EKLE</button>
</form>